@import url(./__heading/news__heading.css);
@import url(./__form/news__form.css);
@import url(./__input/news__input.css);
@import url(./__button/news__button.css);

.news{
    position: relative;
    padding: 175px 0 123px;
    width: 100%;
    background: linear-gradient(45deg, #8b83f9 0%, #a165f3 100%);
    transform: translateY(-70px);
    z-index: 1;
}

@media screen and (max-width: 1550px) {
    .news{
        padding: 15% 0 8%;
    }
}

@media screen and (max-width: 760px) {
    .news{
        padding: 15% 0 8%;
        transform: translateY(-30px);
    }
}