.brands__heading{
    margin: 0;
    padding: 0;
    margin-top: 258px;
    text-transform: capitalize;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 1;
    color: #333333;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1550px) {
    .brands__heading{
        margin-top: 50px;
    }
}