.cover__text{
    margin-left: 71px;
    width: 50%;
    position: relative;
    left: -25%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 4;
}

@media screen and (max-width: 1550px) {
    .cover__text{
        width: 40%;
        margin-left: 40px;
        left: -10%;
    }
}

@media screen and (max-width: 1240px) {
    .cover__text{
        margin-left: 20px;
        left: -15%;
    }
}