@import url(./__heading/nav__heading.css);
@import url(./__list/nav__list.css);
@import url(./__link/nav__link.css);
@import url(./__social/nav__social.css);
@import url(./__social-icon/nav__social-icon.css);

.nav{
    width: 100%;
    padding-bottom: 51px;
}