.cards{
    margin: auto;
    width: 86%;
    padding-top: 44px;
    padding-bottom: 143px;
    display: grid;
    grid-template-columns: repeat(3, 352px);
    grid-gap: 49px 60px;
    justify-content: center;
}

@media screen and (max-width: 1550px) {
    .cards{
        grid-template-columns: repeat(auto-fit, 352px);
        padding-top: 0;
        padding-bottom: 30px;
        grid-gap: 30px 30px;
    }
}

@media screen and (max-width: 1100px) {
    .cards{
        width: 100%;
    }
}