.cover__image{
    margin: 0;
    padding: 0;
    position: relative;
    top: 58px;
    max-width: 75%;
    height: 994px;
    object-fit: cover;
    object-position: left;
    z-index: 2;
}

@media screen and (max-width: 1550px) {
    .cover__image{
        height: 90%;
    }
}

@media screen and (max-width: 1240px) {
    .cover__image{
        height: 100%;
        top: -10%;
        object-fit: contain;
    }
}