.cover__heading{
    margin: 0;
    padding: 0;
    margin-top: 201px;
    font-size: 115px;
    line-height: 1;
    color: white;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1550px) {
    .cover__heading{
        font-size: 75px;
    }
}