@import url(../vendor/normalize.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/bags/bags.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/brands/brands.css);
@import url(../blocks/watches/watches.css);
@import url(../blocks/news/news.css);
@import url(../blocks/nav/nav.css);
@import url(../blocks/footer/footer.css);

.page{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
}