.watches__heading{
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 1;
    color: #333333;
    text-transform: capitalize;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}