@import url(./__heading/bags__heading.css);

.bags{
    position: relative;
    margin: auto;
    width: 86%;
    overflow: visible;
    z-index: 2;
    box-shadow: 2.5px 4.33px 50px rgba(237,235,253,0.75);
    background-color: #ffffff;
}