.news__button{
    width: 198px;
    height: 60px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(28deg, #8b83f9 0%, #9b6bf5 100%);
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 0.8;
    color: #fffefe;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}