.nav__social-icon_type_insta{
    background-image: url('../../../../images/instagram.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.nav__social-icon_type_insta:hover{
    box-shadow: 4px 6.928px 20px rgba(207,207,208,0.75);
    background-color: linear-gradient(27deg, #8b83f9 0%, #9b6df5 99%);
    border: 1px solid #ecebed;
    transition: all;
    transition-duration: 0.6s;
}