.cover__background{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
    z-index: 3;
    overflow: hidden;
}

.cover__background::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 13.5%;
    background-image: url('../../../images/Pattern.png');
    background-repeat: no-repeat;
    z-index: 4;
}


@media screen and (max-width: 760px) {
    .cover__background{
        background: linear-gradient(27deg, #1100ff 0%, #aa55f3 100%);
    }
}