.news__input{
    height: 70%;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 0.8;
    color: #333333;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    border: none;
}