.cover__select{
    margin: 0;
    padding: 0;
    width: 50%;
    box-sizing: border-box;
    border-radius: 32px;
    border: none;
    overflow: hidden;
    padding-left: 37px;
    appearance: none;
    background-image: url('../../../images/arrow.svg');
    background-repeat: no-repeat;
    background-size: 17px 10px;
    background-position: top 50% right 10%;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #151515;
}

.cover__select > option {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #151515;
}