.brands__text{
    width: 58%;
    box-sizing: border-box;
    padding-left: 105px;
    padding-right: 193px;
}

@media screen and (max-width: 1550px) {
    .brands__text{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 760px) {
    .brands__text{
        width: 100%;
    }
}