@import url(./__heading/watches__heading.css);
@import url(./__nav/watches__nav.css);
@import url(./__nav-item/watches__nav-item.css);
@import url(./__nav-item/_type/watches__nav-item_type_active.css);
@import url(./__cards/watches__cards.css);

.watches{
    position: relative;
    margin: auto;
    padding-top: 97px;
    width: 86%;
    box-shadow: 2.5px 4.33px 50px rgba(237,235,253,0.75);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

@media screen and (max-width: 1550px) {
    .watches{
        padding-top: 0;
    }
}

@media screen and (max-width: 1100px) {
    .watches{
        width: 100%;
    }
}