.cover__details-button{
    margin: 0;
    padding: 0;
    margin-top: 96px;
    width: 202px;
    height: 60px;
    border-radius: 30px;
    box-shadow: 2.5px 4.33px 25px rgba(189,227,239,0.75);
    background-color: #fcfcfc;
    border: none;
    font-size: 20px;
    line-height: 1;
    color: #151515;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
}

.cover__details-button:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

@media screen and (max-width: 1550px) {
    .cover__details-button{
        height: 45px;
    }
}

@media screen and (max-width: 1100px) {
    .cover__details-button{
        margin-top: 20%;
    }
}

