.brands__image{
    margin-top: 118px;
    width: 311px;
    height: 641px;
}

@media screen and (max-width: 1550px) {
    .brands__image{
        margin-top: 5%;
    }
}

@media screen and (max-width: 1100px) {
    .brands__image{
        width: 35%;
        height: 70%;
    }
}

@media screen and (max-width: 760px) {
    .brands__image{
        display: none;
    }
}